<style type="text/css">
    @page {
            margin-top: 0.0em;
            margin-bottom: 0.0em;
            margin-left: 0.0em;
            margin-right: 0.0em;
        }
    @font-face {
        font-family: test;
        font-weight: normal;
        src: url('test.ttf');
      }
    .print_page
    {
        font-family: "Century Gothic";
        font-size: 14px;
    }
</style>


      <div class="print_page" style='position: relative;height: 296.9mm;width: 209.9mm;'>
          Test font
      </div>