// colors
$primary-color: #906bff;
$primary-color-light: #b298ff;
$text: #141414;
$text-invert: #fff;
$text-invert-alt: #a2b0d4;
$background: #fff;
$background-invert: #0e101f;
$background-invert-alt: #1e1f31;
$light-gray: #eceff3;
$medium-gray: #a7aaad;
$dark-gray: #7c7c7c;
$anchor-color: $primary-color;
$anchor-color-hover: #8284ff;
$code-color: $text;
$code-background: $light-gray;

// type
$font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// syntax highlighting
$codeSyntax: (
  color: #eef4fd,
  background: $background-invert,
  comment: #9fa7b4,
  punctuation: #9ea5af,
  property: #c670e9,
  boolean: #ee7261,
  string: #52E09A,
  variable: #c670e9,
  atrule: #4EBCF4,
  keyword: #c678dd,
  regex: #eb6f1d
);

$wrapper-width: 960px;
$mobile-wrapper-width: 420px;

// layout
$mobile-navbar-height: 80px;
$navbar-height: 128px;

$mobile-navbar-toggle-height: 24px;
$main-frame-padding-mobile: 8px;
$main-frame-padding: 32px;
$main-frame-radius: 8px;

// css breakpoints
$breakpoint-small: 28em;
$breakpoint-medium: 64em;
$breakpoint-large: 75em;
$breakpoint-extra-large: 105em;