.custom-block {
  background: $primary-color;
  color: $text-invert;
  padding: 1.5rem;
  margin: 1.2rem 0;
  border-radius: 6px;
  // box-shadow: 0 4px 4px -2px rgba(32, 32, 64, 0.25);

  p {
    margin: 0;
  }

  a {
    color: $text-invert;
  }

  .custom-block-title {
    font-weight: bold;
    margin-bottom: .5rem;
  }
}

