.icon {
  vertical-align: text-top;
  color: inherit !important;
  margin-left: .2em;
}

.logo {
  & path, & ellipse {
    fill: none;
    stroke: $text-invert;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
  }
}

.menuIcon {
  position: relative;
  margin: ($mobile-navbar-toggle-height / 3) 0;
}

.menuIcon, .menuIcon:before, .menuIcon:after {
  transition: background-color, transform 0.2s ease;
  background-color: $primary-color;
  display: block;
  width: $mobile-navbar-toggle-height;
  height: 2px; 
}

.menuIcon:before, .menuIcon:after { position: absolute; content: ""; }
.menuIcon:before { top: -$mobile-navbar-toggle-height / 3; }
.menuIcon:after { top: $mobile-navbar-toggle-height / 3; }

.menuIcon.menuIcon--active { background-color: transparent; }
.menuIcon.menuIcon--active:before { transform: translateY($mobile-navbar-toggle-height / 3) rotate(45deg); }
.menuIcon.menuIcon--active:after { transform: translateY(-$mobile-navbar-toggle-height / 3) rotate(-45deg); }