.Markdown {
  
  h1, h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: .75em;

    &:first-child {
      margin-top: 0;;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    .header-anchor {
      font-size: 0.8em;
      vertical-align: baseline;
      margin-left: -.9em;
      border-bottom: 0;
      text-decoration: none;
      opacity: 0;
    }

    &:hover .header-anchor {
      opacity: 1;
    }
  }

  h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid $medium-gray;
  }

  a {
    border-bottom: 1px solid currentColor;
  }

  p {
    margin-bottom: 1.5em;
  }

  hr {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid $medium-gray;
  }

  ul, ol, dl {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
  }

  ul ul {
    margin-top: .75em;
  }

  ul {
    list-style-type: disc;
  }

  li {
    word-wrap: break-all;
  }

  li > p {
    margin-top: 1.25em;
  }

  li + li {
    margin-top: .2em;
  }

  pre, code {
    padding: .125em .25em;
    border-radius: 4px;
  }

  pre {
    border-radius: 6px;
    word-wrap: normal;
  }

  pre code {
    padding: 0;
  }

  table {
    width: 100%;
    margin-bottom: 1.5em;
    overflow: hidden;
    border-collapse: collapse;
    // border-radius: 6px;
    border-spacing: 2px;
  }

  thead {
    color: $dark-gray;
  }

  thead, tbody, tfoot {
    // border: 1px solid $light-gray;
  }

  td, th {
    padding: 1rem .6rem;
    text-align: left;
    border-bottom: 1px solid $light-gray;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  // code blocks are wrapped in divs
  div[class*="language-"] {
    margin: 1.2em 0;
    position: relative;
    border-radius: 6px;
  }

  pre[class*="language-"] {
    padding: 1.5rem;
    padding-top: 3rem;
    overflow: auto;
    // border-radius: 0.3em;
  }

  pre[class*="language-"]::before {
    font-family: $font-family;
    color: currentColor;
    opacity: .8;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    text-align: right;
    font-size: 0.8em;
    line-height: 1em;
    height: 3rem;
  }

  pre.language-bash::before {content: "Shell";}
  pre.language-js::before {content: "JavaScript";}
  pre.language-css::before {content: "CSS";}
  pre.language-html::before {content: "HTML";}
  pre.language-svg::before {content: "SVG";}
}

.Markdown.Markdown--invert {
  color: mix($text-invert, $text-invert-alt, 50%);

  h1, h2, h3, h4, h5, h6 {
    color: $text-invert;
  }

  h2, hr, td, th {
    border-bottom: 1px solid $text-invert-alt;
  }

  code {
    background: $background-invert;
    color: inherit;
  }

  thead {
    color: $text-invert-alt;
  }
}

// darker version of markdown--invert
.Markdown.Markdown--invert-alt {
  color: mix($text-invert, $text-invert-alt, 75%);

  h1, h2, h3, h4, h5, h6 {
    color: $text-invert;
  }

  h2, hr, td, th {
    border-bottom: 1px solid mix($text-invert, $background-invert-alt, 25%);
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: $background-invert-alt;
    color: inherit;
  }

  code {
    background: $background-invert-alt;
    color: $text-invert;
  }

  thead {
    color: $text-invert;
  }
}