
@import url("https://fonts.googleapis.com/css?family=Archivo:400,700");
@import "~css-reset-and-normalize/scss/reset-and-normalize";

@import "./config";
@import "./markdown";
@import "./prism";
@import "./icons";
@import "./custom-blocks";
@import "./404";

html, body {
  color: $text;
  background: $background-invert;
}

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.75;
  // letter-spacing: .015em;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -moz-text-rendering: optimizeLegibility;

  @media (max-width: $breakpoint-small) {
    // font-size: 14px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 18px;
  }
}

// clearfix body so that the margin around the homepage works correctly
// https://css-tricks.com/snippets/css/clear-fix/
body:before, body:after {
  content: "";
  display: table;
  clear: both;
}

body.no-scroll {
  overflow-y: hidden;
  height: 100%;
}

a {
  color: $anchor-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $anchor-color-hover;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: .5em;
  line-height: 1.5;
}

h1 { font-size: 3em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.32em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1.05em; }
h6 { font-weight: bold; }

code {
  color: $code-color;
  background: $code-background;
}

em, i {
  font-style: italic;
}

@media (min-width: $breakpoint-medium) {
  .container {
    display: flex;
    // justify-content: center;
  }
}
