
/* 2008,2009,2010 pilpi.net style */

  /* Lilly is a free font - http://www.freepremiumfonts.com/free-font/lilly.aspx */
/*
@font-face {
  src: url(Lilly__.ttf) format("truetype");
  font-family: "Lilly";
  font-style: normal;
}*/
@import url(http://fonts.googleapis.com/css?family=Dosis:200);

body{
height: 100%;
margin:0;

background-color:#eed;
font-size:1em;
}
body.photos{
background-color:#F6F6F0;

}
/*thanks to http://ryanfait.com/articles/2006/10/15/breaking-css-floats/ */
.clear{
 width: 100%;
 height: 1px;
 margin: 0 0 -1px;
 clear: both;
}

hr{
border: 0;
color: #9E9E9E;
background-color: #cccccc;
height: 1px;
width: 100%;
text-align: left;
}

a img{
border: 0 none;
}
.storyimageright{
float:right;
margin-left:0.3em;
text-align:center;
}
.storyimageleft{
float:left;
margin-right:0.5em;
text-align:center;
}
div#topbar{
top:0;
width:100%;
background-color:#555;
background-color:#1b1520;
background-image:url(/!img/P1050942_blur_mosaic2.png);
color:#fff;
}
div#topbarcontent{
/*breaks IE:*/
/*width:67em;*/
max-width:100%;
}
#sitetitle{
z-index:1;
font-size:320%;
position:relative;
float:left;
padding:0.4em;
padding-left:0.5em;
font-family:Dosis,'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}
body.photos #sitetitle{
padding:0 !important;
}
#sitetitle a{
text-decoration:none;
color:#ccc !important;
}
#sitetitle a:hover{
text-decoration:underline;
}

#searchbox{
/*
*/
margin-top:2.3em;
position:relative;
float:right;
margin-right:5em;
}
#searchbox .searchsubmit{
	background-color:#440022 !important;
	color:#eed;
	border-color:#110005 !important;
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
#searchbox .searchsubmit:hover{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#searchbox .searchinput:active,
#searchbox .searchinput:focus{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#searchbox .searchinput{
	background-color:#440022 !important;
	background-image: none !important;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	color:#fff;
	border-color:#110005 !important;

}

#searchbox:active, #searchbox:hover {
/*	
*/
}
#searchbox input{
font-size:1.5em;
font-family:Dosis,'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
-webkit-border-radius:0.3em;
-moz-border-radius:0.3em;
border-radius:0.3em;
}
#searchbox input.searchinput{

}

#searchbox input.searchsubmit{
border:solid 0.1em #ccc;
background-color:#ddd;
border:outset 0.1em #ccc;
}
#searchbox input:active{
border:0.1em solid #ccc;
background-color:#ccc;
}
#naviAndBreadcrumb{
line-height:33px;
clear:both;
padding-top: 7em;
}
#breadcrumb{
padding-left:0.8em;
display:inline;
padding-top:3em;
font-size:1.3em;
font-family:Dosis,'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}
body.photos #breadcrumb{
display:block;
}

#navi{
float:right;
padding-right:0.3em;
right:0em;
width:5.5em;
z-index:100;
margin-top:1em;
}
#navi a:hover{
text-decoration:underline;
}

#naviTabs{
position:relative;
bottom:-8px;
padding-right:0.3em;
z-index:100;
display:inline;
text-wrap:none;
word-wrap:none;    
white-space:nowrap;
}
#naviTabs ul{
margin-top:0;
padding-top:0;
padding-left:0em;
margin-left:0;
padding-right:0em;
margin-right:0em;
display:inline;
text-wrap:none;
word-wrap:none;    
white-space:nowrap;
}
body#frontpage #naviTabs {
	padding-left:3em;
	margin-left:3em;
	}
#naviTabs ul li{
text-wrap:none;
word-wrap:none;    
white-space:nowrap;
display:inline;
list-style-type:none;
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
text-align:left;
padding-left:0em;
margin-left:0em;
padding-bottom:0;
margin-bottom:0;
line-height:0;
margin-left:0.5em;
}
#naviTabs ul li:hover{
	
	}
#naviTabs ul li ul li{
margin-left:0em;

}
#naviTabs ul li a {
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 10;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  -webkit-transition: all 0.2s ease-out; 
-moz-transition: all 0.2s ease-out; 
-o-transition: all 0.2s ease-out;
position:relative;
	background-position: 100% 0%;
	background-repeat:no-repeat;
    margin-left: 0.5em;
	bottom:3px;
    text-decoration: none;

}
#naviTabs ul li a span{
/*
PIE almost works this way: 
*/   
/*border:solid thin white;
 -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
behavior: url(PIE.htc);
*/
    background-color: #440022;
    border-left: 2px solid #110005;
    border-right: 5px solid #110005;
    border-top: 4px solid #110005;
    padding-left: 0.4em;
    padding-right: 0.4em;
	padding-top:0.2em;
padding-bottom:10px;
opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
-webkit-border-bottom-right-radius: 2px;
-webkit-border-top-left-radius: 9px;
-webkit-border-top-right-radius: 14px;
-moz-border-radius-bottom-right: 2px;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 14px;

border-bottom-right-radius: 2px;
border-top-left-radius: 9px;
border-top-right-radius: 14px;
	color: #fff !important;
	position:relative;
-webkit-transition: all 0.2s ease-out; 
-moz-transition: all 0.2s ease-out; 
-o-transition: all 0.2s ease-out;
display:inline;
z-index:0;

}
#naviTabs ul li a:hover
{
	
	}
#naviTabs ul li a.activelink{
/*
font-weight:bold;
*/
}
#naviTabs ul li a.activelink span,#naviTabs ul li a:active span,#naviTabs ul li a:hover span {
position:relative;
bottom:7px;
opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
background-color:#f6f6f0;
color:#000033 !important;
    border-left: 2px solid #ccccff;
    border-right: 5px solid #ccccff;
    border-top: 4px solid #ccccff;
padding-top:10px;
-webkit-border-top-left-radius: 16px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 16px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 16px;
border-top-right-radius: 20px;
-webkit-transition: all 0.2s ease-in; 
-moz-transition: all 0.2s ease-in; 
-o-transition: all 0.2s ease-in;
}
#naviTabs ul li a.activelink ,#naviTabs ul li a:active ,#naviTabs ul li a:hover {
bottom:0px;
padding-top:62px;
-webkit-transition: all 0.2s ease-in; 
-moz-transition: all 0.2s ease-in; 
-o-transition: all 0.2s ease-in;
/*	*/
}
#naviTabs ul li.design a:active {
	/*
*/	
	}

#naviTabs ul li.believer a{
	background-position: 0% 0%;
}

#naviTabs ul li.believer a span{
	padding-left:20px;
	padding-right:25px;
}

#naviTabs ul li.believer a.activelink ,#naviTabs ul li.believer a:active ,#naviTabs ul li.believer a:hover {
	background-position: 100% 5%;
	background-image:url(/!img/haikala-2010-03-27_sm.png);

}
#naviTabs ul li.believer a:active {
	background-image:url(/!img/haikala-pallo-2010-03-27_sm.png);
	
	}
#naviTabs ul li.design a.activelink ,#naviTabs ul li.design a:active ,#naviTabs ul li.design a:hover {
background-image:url(/!img/kukka_smsm-2011-03-25-white.png);
	background-repeat:no-repeat;
	background-position: 100% 5%;

}
#naviTabs ul li.design a:active {
background-image:url(/!img/kukka-kattely_smsm-2011-03-25-white.png);
	
	}

#naviTabs ul li.photos a{
	background-position: 0% 0%;
}

#naviTabs ul li.photos a span{
}

#naviTabs ul li.photos a.activelink ,#naviTabs ul li.photos a:active ,#naviTabs ul li.photos a:hover {
	background-image:url(/!img/kamera-2010-03-27_sm.png);
	background-position: 100% 5%;

}
#naviTabs ul li.photos a:active {
	background-image:url(/!img/kamera-mirror-2010-03-27_sm.png);
	
	}

#naviTabs ul li.quotations a{
	background-position: 0% 0%;
}

#naviTabs ul li.quotations a span{
}

#naviTabs ul li.quotations a.activelink ,#naviTabs ul li.quotations a:active ,#naviTabs ul li.quotations a:hover {
	background-image:url(/!img/lainausvilkut-2010-03-27_sm.png);
	background-position: 100% 10%;

}
#naviTabs ul li.quotations a:active {
	background-image:url(/!img/lainausvilkut-vinot-2010-03-27_sm.png);
	
	}
#naviTabs ul li.software a{
	background-position: 0% 0%;
}

#naviTabs ul li.software a span{
}

#naviTabs ul li.software a.activelink ,#naviTabs ul li.software a:active ,#naviTabs ul li.software a:hover {
	background-image:url(/!img/norttilasit-2010-03-27_sm.png);
	background-position: 0% 15%;

}
#naviTabs ul li.software a:active {
	background-image:url(/!img/norttilasit-tahti-2010-03-27_sm.png);
	
	}

#naviTabs ul li.journal a{
	background-position: 0% 100%;
}

#naviTabs ul li.journal a span{
}

#naviTabs ul li.journal a.activelink ,#naviTabs ul li.journal a:active ,#naviTabs ul li.journal a:hover {
padding-top:150px;
	background-image:url(/!img/kirjoittelu-2010-03-27_sm.png);
	background-position: 100% 5%;

}
#naviTabs ul li.journal a:active {
		background-image:url(/!img/kirjoittelu-perspektiivi-2010-03-27_sm.png);

	}

#naviTabs ul li.poetry a{
	background-position: 0% 100%;
}

#naviTabs ul li.poetry a span{
}

#naviTabs ul li.poetry a.activelink ,#naviTabs ul li.poetry a:active ,#naviTabs ul li.poetry a:hover {
padding-top:72px;
	background-image:url(/!img/kukka-mirror_sm-2011-03-25-white.png);
	background-position: 85% 7%;

}
#naviTabs ul li.poetry a:active {
	background-image:url(/!img/kukka-mirror-paairti_sm-2011-03-25-white.png);
	
	}


#navi ul{
margin-top:0;
padding-top:0;
padding-left:0em;
margin-left:0;
padding-right:0em;
margin-right:0em;
}
#navi ul li{
list-style-type:none;
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
position:relative;
font-weight:bold;
text-align:left;
font-size:1.5em;
top:0.7em;
left:0em;
color:#334;
padding-left:0em;
margin-left:0;
padding-bottom:0;
margin-bottom:0;
line-height:0;
}
#navi ul li ul{
margin-left:0;
padding-left:0em;
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
color:#fff;
padding-bottom:0;
margin-bottom:0;
text-align:left;

}
#navi ul li ul li{
margin-left:0;
padding-left:0em;
padding-bottom:0;
margin-bottom:0;
line-height:1.2em;
text-align:left;
color:#fff;
font-weight:normal;
position:relative;
font-size:0.7em;
top:-1.2em;
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
left:-3em;
}
#navi a{
text-decoration:none;
}
#navi a:active,#navi a.activelink, #navi a:focus{
font-weight:bold;
/*background-color:#93f;
color:black !important;*/
}
#navi a:visited{
color:#ccc;
}


div#fontSizer{
position:relative;
float:right;
clear:right;
margin-right:1.3em;
}
div#fontSizer a{
text-decoration:none;
border:0.05em solid white;
padding:0 0.2em 0 0.2em ;
}
div#fontSizer a:active,  div#fontSizer a:focus{
background-color:#ccc;
color:#000;
}
div#fontSizer ul{
display:inline;
list-style-type:none;
margin:0;
padding:0;
}
div#fontSizer ul li{
margin:0;
padding:0;
display:inline;
}
div#container{
right:0%;
width:100%;
max-width:100%;
font-family:"Lucida Grande", Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ;
margin:0;
float:left;
z-index:150;
}
div.content{
z-index:150;
background-color:#eed;
position:relative;
max-width:100%;
font-family:"Lucida Grande", Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ;
font-size:1.1em;
margin:0;
line-height:1.3em;
padding-left:0.6em;
padding-bottom:5em;
}
div.textcolumn{
width:28.5em;
max-width:90%;
background-color:#f6f6f0;
}
div.longtextcolumn{
width:32em;
max-width:90%;
background-color:#f6f6f0;
}
div.fullcolumn{
width:47em;
max-width:90%;
background-color:#f6f6f0;
border-right:0.05em solid #ddd;
padding-bottom:5em;
padding-right:3em;
padding-left:0.7em;
float:left;
}
body.photos div.fullcolumn{
float:none;
border-right:none;

	}
div.photocol{
background-color:#F6F6F0;
padding-bottom:5em;
padding-right:3em;
padding-left:0.6em;
width:47em;
max-width:90%;
margin-left:auto;
margin-right:auto;
}

div.maincol{
background-color:#f6f6f0;
border-right:0.05em solid #ddd;
padding-bottom:5em;
padding-right:3em;
padding-left:1em;
float:left;
}
div.sidecol{
float:left;
margin-left:0.6em;
max-width:13em;
width:13em;
padding-right:1em;
padding-left:1em;
overflow:hidden;
}
div.sidecolbig{
float:left;
margin-left:0.6em;
max-width:18em;
width:18em;
padding-right:1em;
padding-left:1em;}
#footer a, #footer a:visited, div#topbar a, div#topbar a:visited{
color:white;
}
#footer{
  font-family: 'Dosis','Arial Narrow', Arial, sans-serif;
font-size:1.5em;
position:relative;
clear:both;
width:100%;
z-index:1;
min-height:18em;
}
#footer .footercol span{
margin-bottom:1em;
display:block;
}
#footer .footercol span ul{
margin:0;
}
#footer .footercol h3{
margin:0;
padding:0;
line-height:1em;
color:#fff;

}
#footer .colcontainer, #footer cite{
padding:1em;
padding-top:1em;
display:block;

}
#footer .colcontainer{
color:#fff;

}

#footer {
background-image:url(/!img/P1050942_blur_mosaic2_red.png);
background-color:#410;
border-top:0.05em solid #555;
padding-bottom:4em;
display:block;

}
#footer .colcontainer .footercol{
display:block;
}

#footer .colcontainer .footercol{
display:block;
width:27%;
float:left;
padding-right:5%;
padding-bottom:2em;
padding-top:1em;
}
#footer cite{



font-size:1.2em;
/*background-image:url(/!img/wasp_nest2.jpg);*/
color:#ccc;
clear:both;
}



#footer div.preload1{
display:inline;
z-index:0;
	background-image:url(/!img/kukka-kattely_smsm-2011-03-25-white.png);
}
#footer div.preload2{
display:inline;
z-index:0;
	background-image:url(/!img/haikala-pallo-2010-03-27_sm.png);
}
#footer div.preload3{
display:inline;
z-index:0;
	background-image:url(/!img/kamera-mirror-2010-03-27_sm.png);
}
#footer div.preload4{
display:inline;
z-index:0;
	background-image:url(/!img/lainausvilkut-vinot-2010-03-27_sm.png);
}
#footer div.preload5{
display:inline;
z-index:0;
	background-image:url(/!img/norttilasit-tahti-2010-03-27_sm.png);
}
#footer div.preload6{
display:inline;
z-index:0;
		background-image:url(/!img/kirjoittelu-perspektiivi-2010-03-27_sm.png);
}
#footer div.preload7{
display:inline;
z-index:0;
	background-image:url(/!img/kukka-mirror-paairti_sm-2011-03-25-white.png);
}


#footer div.preload7{
display:inline;
z-index:0;
	background-image:url(/!img/kukka_smsm-2011-03-25-white.png);
}
#footer div.preload8{
display:inline;
z-index:0;
	background-image:url(/!img/haikala-2010-03-27_sm.png);

}
#footer div.preload9{
display:inline;
z-index:0;
	background-image:url(/!img/kamera-2010-03-27_sm.png);
	background-position: 100% 5%;

}
#footer div.preload10{
display:inline;
z-index:0;
	background-image:url(/!img/lainausvilkut-2010-03-27_sm.png);

}
#footer div.preload11{
display:inline;
z-index:0;
	background-image:url(/!img/norttilasit-2010-03-27_sm.png);

}
#footer div.preload12{
display:inline;
z-index:0;
	background-image:url(/!img/kirjoittelu-2010-03-27_sm.png);
}
#footer div.preload13{
display:inline;
z-index:0;
background-image:url(/!img/kukka-mirror_sm-2011-03-25-white.png);
}
#footer div.preload14{
display:inline;
z-index:0;
background-image:url(/!img/kukka_sm-2011-03-25-white.png);
}


.journalitem{
background-color:#e9efff;
padding:0.3em;
}
.rightpic{
        text-align : right;
}
.rightpic a{
        border-bottom-style : none;
        border-bottom-width : 0;
}
.rightpic{
        float : right;
position:relative;
}
.rightpic img{
        margin-left : 1em;
        margin-bottom: 1em;
}

dd{
        padding-left: 1.2em;
        display:block;
}
dd p{
        margin-left:0;
        padding-left:0;
}
dl.qa dt{
font-weight:bold;
margin-top:0.5em;
}
dl.gallerylist{
        clear:both;
}
dl.gallerylist dt{
        clear:both;
        margin-top:1em;
        margin-bottom:0.5em;
        font-weight : bold;
}

dl.gallerylist dd ul li{
	margin-left:250px;

}
dl.gallerylist dt img{
        border : 1px solid Black;
        margin-right : 1em;
        margin-top : 0.5em;
        margin-bottom : 0.5em;
}
dt img{
        float:left;
	position:relative;
}
abbr, acronym{
        cursor : help;
	border-bottom:dotted 1px black;
}

div.col2topMenu{
                clear:both;
                position : relative;
}

div.col2topMenu div.titlecol{
        margin-right : 1%;
        text-align:left;
        vertical-align : bottom;
        float:left;
display:inline;
position:relative;
}

div.col2topMenu div.menucol{
        float:right;
position:relative;
        text-align:right;
        vertical-align : bottom;
	margin-top:1em;
}

div.col2topMenu p{
        margin-top : 0px;
}

h3.journal{
	margin-top:2em;
}
/*fix ie margins*/
p,h1,h2,h3{
margin-top:0.8em;
}

h1,h2,h3{
font-family:Dosis,'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
font-weight:bold;line-height:1em;
}
h1{
color:#224499;
}
h2{
color:#5E5677;
}
h3{
color:#333;
font-weight:bold;
border-bottom:1px solid #999;

}
h2.journal a,h1.journal a{
	color:#660000;
	text-decoration:none;
}
.journalEntryDate{
margin-bottom:4em;
text-align:right;
display:block;
}

body.photos .content{
background-color:#F6F6F0;
}
body.photos .singlephoto h1{
font-size:120%;
float:left;
}

div.skipcontentlink a{
	position:absolute;
	left:0;
	margin:0;
	top:0;	
	padding:0;
	border:0 none !important;
}
div.skipcontentlink a img{
	border:0 none !important;
	margin:0;
	padding:0;
}

/*start sticky footer, thanks http://ryanfait.com/sticky-footer/ */
* {
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -9.5em; /* the bottom margin is the negative value 
of the footer's height */
}
#footer, .push {
	height: 9em; /* .push must be the same height as .footer */
}
#footer {
}
/*end sticky footer*/

ul.feeds{
list-style: circle; 
padding-left:1.5em;
margin-left:0;
}
ul.feeds li{
}
ul.twitter{
list-style-type: none;
margin:0;
padding:0;
font-size:1em;
line-height:1.1em;
}
ul.twitter li{
margin-bottom:0.5em;
}
ul.twitter li span.date{
font-size:0.8em;
color:grey;
}

h2 a#followme{
font-family:monospace,serif;
font-size:0.5em;
font-weight:normal;
border:0.1em #ccc solid;
padding:0.2em;
color:black;
text-decoration:none;
background-color:#DDEEF6;
margin-left:0.3em;
}
body#frontpage h2 a#followme:hover{
border:0.1em #fff solid;

}
body#frontpage h2 a#followme:active{
position:relative;
top:0.1em;
left:0.1em;
color:#aac6d1;

}

/* css tabs start http://unraveled.com/projects/html/css_tabs/ */

ul.tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
/*font: bold 11px verdana, arial, sans-serif;  set font as desired */
border-bottom: 1px solid #63c; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 2px 10px; /* THIRD number must change with respect to padding-top (X) below 
*/
}

ul.tabnav li { /* do not change */
display: inline;
}

body#webdesign li.webdesign, body#history li.history, body#resume li.resume, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

ul.tabnav li.history{
border-left:thin solid #63c;
}

/*
position: relative;
top: 1px;
*/
body#webdesign li.webdesign a, body#history li.history a, body#resume li.resume a, body#tab4 
li.tab4 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
padding-top: 3px; /* must change with respect to padding (X) above and 
below */
font-weight:bold;
}
/*border: 1px solid #63c;  set border COLOR as desired; usually matches border color */

ul.tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above specified in #tabnav */
background-color: #eee; /* set unselected tab background color as desired */
color: #777; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}
ul.tabnav li a:hover { 
text-decoration:underline;
color:black;

}
ul.tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

	

/* end css tabs */
	
/*text styles*/
.author, .date{
        text-align:right;
        font-style:italic;
}
.note{
        color: #FF0000;
        background-color : transparent;
        font-weight:bold;
}

body#software #toctoc a{
display:block;
text-decoration:none;
margin-top:0.3em;
}
body#software #toctoc a.indent{
margin-left:1em;
margin-top:0em;
}
body#software #toctoc a.indent:before { content: "\2013  " }
body#poetry table{
width:100%;
}
body#poetry table th{
background-color:#ddf;
}

