body {
  background: white;
  color: black;
  font-family: Candara, Sans-Serif;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
}

a {
  background: transparent;
  color: #17457c;
  text-decoration: none;
  font-weight: bold;
}

a[href]:hover {
  background: transparent;
  color: #991e1e;
  text-decoration: underline;
  font-weight: bold;
}

div.cmd {
  color: black;
  background: #d2ddf6;
  font-family: monospace;
  font-size: 90%;
  margin: 1.33em 40px;
  padding: 1.33em 1.33em 1.33em 2.66em;
  text-indent:-1.33em;
}

div.crt {
  border-style: ridge;
  border-width: 7px;
  border-color: blue;
  color: white;
  background: #000044;
  font-family: monospace;
  font-size: 90%;
  margin: 1.33em 0em; 
  padding: .66em 1.33em .66em 1.33em;
}

div.cmdout {
  color: black;
  background: #d0d0dd;
  font-family: Times, serif;
  margin: 1.33em 40px;
  padding: .66em 1.33em .66em 1.33em;
}

div.doc-section > p {
  margin: 1.33em 0px;
}

div.doc-section {
  margin: 1.33em 40px;
}

div.eastbar {
  position: absolute; 
  right: 0.2em; 
  margin: 9pt 9pt;
}

div.eqn {
  text-align: center;
  }

div.footer {
  margin-left: 150px; 
  background: white;
}

div.group {
  border: 2px solid #666;
  padding: 0;
  margin: 0.8em 8px;
}

div.image {
  text-align: center;
}

div.info {
  clear: both;
}

div.main {
  background: white;
  color: black;
  border-left-style: solid;
  border-left-color: #d0d0d0;
  border-left-width: 1px;
  padding-left: .75em;
  padding-bottom: .75em;
  padding-top: 0px;
  padding-right: .75em;
  margin-left: 150px;
  margin-right: 0px;
}

div.menu {
  background: #f5f5f5;
  color: black;
  padding-left: .66em;
  padding-right: .66em;
  padding-top: .75em;
  font-weight: bold;
  vertical-align: top;
  left: 0px;
}

div.sep {
  background: #f5f5f5;
  color: black;
  padding-left: 1.33em;
  padding-top: .75em;
  font-weight: bold;
  vertical-align: top;
  left: 0px;
  font-size: 66%;
}

div.sponsor {
  padding-left: .5em;
  padding-top: .25em;
  font-size: 83.333%;
}

div.sponsbox {
  background: #ffffff;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  padding-left: .66em;
  font-weight: bold;
  vertical-align: top;
  left: 0px;
}

div.sub {
  background: #f5f5f5; 
  color: black;
  padding-left: 1.66em;
  padding-top: .15em;
  font-weight: bold;
  vertical-align: top;
  left: 0px;
  font-size: 90%;
}

div.text {
  color: black;
  background: #d2ddf6;
  font-family: monospace;
  font-size: 90%;
  margin: 1.33em 40px;
  padding: 1.33em;
}

div.titlebar {
  background-image: url("../image/background.jpg");
  background-repeat: repeat-x;
  height: 118px;
  width: 100%;
  background-color: white; /* #f5f5f5;  */
  border:0px;
  padding-bottom:0px;
}

div.westbar {
  width: 150px; 
  left: 0em; 
  position: absolute; 
  /* height: 100%; */
  font-size: 9pt;
  border-right-style: solid;
  border-right-color: #d0d0d0; 
  border-right-width: 1px;
}

acronym, .help {
  border-bottom: 1px dashed #9999cc;
  cursor: help;
}

div.info img {
  float: left;
  padding: 0em 1em 0em 0em;
}

dl.doc { 
  padding: .833em 1.33em 1.33em 1.33em;
  border-spacing: 0px;
  width: 85%;
  text-align: left;
  font-size: 90%;
  margin: 1.33em 40px; 
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
}

dt {
  font-weight: bold;
  margin-left: 3em;
  margin-top: 2em;
  margin-bottom: .5em;
}
  
dd {
  margin: .5em .5em .5em 5em;
}

em.arg {
  color: #8b0000; /* darkred; */
  font-weight: normal;
}

em.caution {
  color: #981e49;
  font-weight: bold;
}

em.emergency {
  color: #c74646;
  font-weight: bold;
}

em.option {
  color:  #8b0000; 
  font-weight: normal;
}

em.QR {
  color: #00008b;
  font-weight: normal;
}

em.warn {
  color: #d5a82f;
  font-weight: bold;
}

fieldset {
  padding: .5em;
  background: white;
  border: 1px dotted #aaaa77;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: .5em;
}

fieldset legend {
  color: #fff;
  background-color: #aaaa77;
  font-size: smaller;
  padding: .1ex .5ex;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  font-weight: bold;
}

form {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  color: black;
  padding: 5px;
  background: #f5f5f5;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  margin-bottom: 30px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  text-transform: capitalize;
  clear: left;
}

h2 {
  font-weight: bold;
  clear: both;
  font-size: 110%;
}

h3 {
  font-weight: bold;
  clear: both;
  font-size: 100%;
}

h4 {
  font-weight: bolder;
  clear: both;
  font-size: 95%;
}

h5 {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
  clear: both;
  font-size: 100%;
}

iframe {
  margin: 1%;
}

img {
  border: none;
}

img.icon {
  float: left;
  margin: 5px;
}

img.map {
  margin: 0px;
  padding: 0px;
}

kbd {
  font-weight: bold; 
}

li {
  margin-left: 40px;
  margin-right: 40px;
}

li table {
  margin: 1em 0px;
  width: 100%;
}

.list li {
  padding-bottom: 1.2em;
}

.list p {
  margin: 0 0 0 0;
}

p {
  margin: 0.75em 0px;
  text-align: left;
}

p+h3, pre+h3, ul+h3, ol+h3, dl+h3 {
  margin-top: 2em;
}

p.code {
  color: black;
  background: #f5f5f5;
  border: 1pt dashed #2f6fab;
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
  margin: 1.33em 40px; 
  padding: .66em 1.33em;
}

p.crt {
  white-space: nowrap;
  border-style: ridge;
  border-width: 7px;
  border-color: blue;
  color: white;
  background: #000044;
  font-family: monospace;
  font-size: 90%;
  margin: 1.33em 40px; 
  padding: .66em 1.33em;
}

p.crtsnip {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em; 
  margin-bottom: 1.33em;
  width: 50%;
  white-space: nowrap;
  border-top-style: ridge;
  border-bottom-style: ridge;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-color: blue;
  color: white;
  font-weight: bolder;
  background: #000044;
  font-family: monospace;
  font-size: 90%;
  padding: .66em 1.33em;
}

p.crtsnip em.arg {
  color: #ffbbbb; /* brighter red; */
}

p.info {
  margin: 0.75em 0px;
  text-align: left;
}

p.image img {
  border: none;
}

p.image {
  text-align: center;
}

p.image, p.image-slices {
  text-align: center;
}

p.image-slices img {
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

p.navigation-index {
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  background: white;
  text-align: center;
  font-size: 80%;
  white-space: normal;
}

p.options {
  padding: 0 3em;
}

p.pre {
  white-space: pre;
  color: black;
  background: #d2ddf6;
  font-family: monospace;
  font-size: 90%;
  padding: 0em;
  margin: 0em;
}

p.text {
  color: black;
  background: #d2ddf6;
  font-family: monospace;
  font-size: 90%;
  margin: 1.33em 40px;
  padding: 1.33em;
}

p.warn {
  padding: .66em 3em; 
  background: #ffeedd;
}

pre {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin: 0pt;
  font-size: 90%;
}

pre.code {
  color: black;
  background: #f5f5f5;
  border: solid 2px black;
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
  font-size: 90%;
}

pre.crt {
  padding: 0;
  margin: 0;
  }

pre.debug {
  color: black;
  background: #d2ddf6;
  border: solid 2px black;
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
}

pre.text {
  color: black;
  background: #ddddff;
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
}

span.bull {
  color: #d0d0d0;
}

span.crtin {
  color: white;
  font-weight: bolder;
  padding: .67em 1.33em .67em 0;
}

span.crtout, .crtprompt {
  color: #ffff77;
  padding-top: .67em;
  padding-bottom: .67em;
}

span.crtout {
  padding-left: 1.33em;
  padding-right: 1.33em;
  display: block;
}

span.crtprompt {
  padding-right: 0;
  text-indent:-1.33em; 
}

span.different {
  font-weight: bold;
  background-color: transparent;
  color: blue;
}

span.filter {
  font-weight: bold;
}

span.info-east {
  float: right;
}

span.info-west {
  float: left;
}

span.option {
  white-space: normal;
}

span.path {
  font-weight: bold;
}

span.size-mod-title { }

table.doc { 
  padding: 1.33em;
  border-spacing: 0px;
  width: 91%;
  text-align: left;
  font-size: 90%;
  margin: 1.33em 40px; 
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
}

table.doc td,th {
  padding: .3em .5em;
}

td {
  text-align: left;
  padding: .5em;
}

td.map {
  margin: 0px;
  padding: 0px;
}

th {
  background-color: #d2ddf6;
  color: black;
  text-align: left;
  padding: .5em;
}

th.size-alt, tr.size-alt, td.size-alt {
  background-color: #f0f0f0;
}

th.size-norm, tr.size-norm, td.size-norm {
  background-color: #f7f7f7;
}

#footer {
  margin-left:0px;
}

#footer-west {
  float: left;
  padding: 20px;
}

#footer-east {
  float: right;
  padding: 20px;
}

#header { 
  background-color: #ADD8E6; /* lightblue; */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4em;
  border-bottom: solid 1px;
  z-index: 10;
} 

#linkbar, #navigation-bar {
  clear: both;
  background: #f5f5f5;
  color: black;
  border: solid #d0d0d0;
  border-width: 1px 0px 1px 0px;
  padding: 5px 5px 5px 0px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px; 
}

#linkbar-east {
  float: right;
}

#linkbar-center {
  padding: 0px 80px;
}

#linkbar-west {
  float: left;
}

#margin {
  padding: 10px;
  vertical-align: top;
  white-space: nowrap;
  left: 0px;
}

#menu {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 0px 1px 0px 0px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
  top: 100px;
  left: 0px;
  height: 100%;
}

#main {
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 10px;
}

#menu a {
  display: block;
}

#menu a.sponsor {
  display: block;
  padding-left: 10px;
  font-size: 76.6666%;
}

#menu a.sub {
  display: block;
  padding-left: 10px;
  font-size: 90%;
}

#menu p {
  display: none;
}

#menu span {
  display: none;
}

#menu-button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 100px;
  left: 0px;
  cursor: w-resize;
}

#notice {
  color:#b90006;
}

#titlebar {
  background-image: url("../image/background.jpg");
  background-repeat: repeat-x;
  height: 118px;
}

#table {
  text-align: left;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
}

#titlebar-east {
  float: right;
}

#titlebar-west {
  float: left;
}

#www-imagemagick-org {
  background: #f5f5f5;
}

@media print {
  #titlebar, #navigation-bar, #linkbar, #menu, #margin { display: none }

  #main {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.size-alt { background-color: #f5f5f5; }

.size-accent { background-color: #f5f5f5; }

.size-mod-body { font-size: 93.666%; }

.size-mod-foot { }

.size-mod-head {
  text-align: left;
  font-weight: bold;
}

.size-mod-title {
  font-size: 1.3em;
  font-weight: bold;
}

.viewport
{
  color: black;
  background: #f5f5f5;
  border: solid 2px black;
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
  margin: 1.33em 40px;
  padding: 1.33em;
  height: 480px;
  overflow: auto;
}
